.slickDots {
  li {
    button::before,
    button:focus::before {
      opacity: 0.2;

      color: white;
    }

    button:hover::before {
      opacity: 1;

      color: white;
    }
  }

  :global li.slick-active {
    button::before {
      opacity: 1;

      color: white;
    }
  }
}
