@font-face {
  font-family: 'Neuzeit S LT Std';
  src: url('/Linotype - NeuzeitSLTStd-Book.ttf');
}

@font-face {
  font-family: 'Neuzeit S LT Std';
  font-weight: 800;
  src: url('/Linotype - NeuzeitSLTStd-Book-Heavy.ttf');
}
